.issueArea:hover {
  cursor: pointer;
}

.issueTextArea {
  height: 8rem;
  overflow: hidden;
  border: 1px solid gray;
}

.issueBadgeArea {
  overflow: hidden;
}

.commentsBadge {
  position: absolute;
  right: 10px;
  top: 5px;
}

.issueArea {
  display: inline-block;
  width: 250px;
  vertical-align: text-top;
}