.issueArea {
  margin-left: 5px;
  width: 50%;
}

.issueArea:hover {
  cursor: pointer;
}

.issueTextArea {
  height: 8rem;
  overflow: hidden;
  border: 1px solid gray;
}

.issueBadgeArea {
  overflow: hidden;
}